<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="icon" type="image/ico" href="{% static 'images/favicon.ico' %}">
    <meta name="description" content="webmonitor">
    <meta name="keywords" content="service and internet monitor, webmonitor">
    <meta http-equiv="refresh" content="300">
    {% block head %}
    
    {% endblock %}
    <title>
      {% block title %}
        Base Title
      {% endblock %}
    </title>
</head>
<body>

{% block body %}
    Base body
{% endblock %}
    <br>
    <footer class="footer">
        <div class="container">
            <div class="pageinfo">
              <p>Page generation time: {% now 'H:i:s (T)'%}</p>
            </div>
        </div>
    </footer>
</body>
</html>