{% extends 'monitor/base.html' %}
{% load static %}
{% block head %}
<script src="{% static 'scripts\chart.js' %}"></script>


{% endblock %}
{% block title %}
Monitor Index
{% endblock %}

{% block body %}
<div class="page">
    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="header-brand">
                    Webmonitor
                </div>
                <div class="header-logo">
                    <img src="{% static 'images/monitoring.gif' %}" alt="" width="100" height="40">
                </div>
                <nav class="header-nav">
                    <a class="header-nav-link" href="http://192.168.1.201:8008/monitor/">Dashboard</a>
                    <a class="header-nav-link active" href="http://192.168.1.201:8008/monitor/charts">Charts</a>
                </nav>
            </div>
        </div><!-- /.container -->
    </header>
    
    <!-- Main -->
    <div class="container">
        <main class="content">
            <hr>
            <p><b><-- Select time range for all charts --></b></p>
            <form action="charts" method="GET">
                <!-- {% csrf_token %}  -->
                start date: {{ form.all_start_date }}
                {{ form.all_start_time }}
                end date: {{ form.all_end_date }}
                {{ form.all_end_time }}
                <button>Submit for all</button>
            </form>
            <hr>
            <div class="content-block">
                <h1 class="title">[ INTERNET MONITOR ]</h1>
                {% if iservices_info_list %}
                <b>Displayed data from</b> <span style="color:rgb(17, 17, 204)">{{ im_start_datetime_object }}</span> <b>to</b>  <span style="color:rgb(17, 17, 204)">{{ im_end_datetime_object }}</span>
                    <div class="content-subblock">
                        {% for i in datapoints_internet_check %}
                        <div>
                        <canvas id="Chart_internet_check_{{ forloop.counter0 }}" style="max-width:600px;min-width: 450px;"></canvas>
                        </div>
                        {% endfor %}
                    </div>
                    <form action="charts" method="GET">
                        <!-- {% csrf_token %}  -->
                        start date: {{ form.im_start_date }}
                        {{ form.im_start_time }}
                        end date: {{ form.im_end_date }}
                        {{ form.im_end_time }}
                        <button>Submit</button>
                    </form>
                    
                {% else %}
                    <h2 class="subtitle">No Internet services</h2>
                {% endif %}
            </div>
            <hr>
               
            <div class="content-block">
                <h1 class="title">[ SERVICE MONITOR ]</h1>
                {% if services_info_list %}
                <b>Displayed data from</b> <span style="color:rgb(17, 17, 204)">{{ sm_start_datetime_object }}</span> <b>to</b>  <span style="color:rgb(17, 17, 204)">{{ sm_end_datetime_object }}</span>
                <div class="content-subblock">
                    {% for i in datapoints_service_check %}
                    <div>
                    <canvas id="Chart_service_check_{{ forloop.counter0 }}" style="max-width:600px;min-width: 450px;"></canvas>
                    </div>
                    {% endfor %}
                </div>
                <form action="charts" method="GET">
                    <!-- {% csrf_token %}  -->
                    start date: {{ form.sm_start_date }}
                    {{ form.sm_start_time }}
                    end date: {{ form.sm_end_date }}
                    {{ form.sm_end_time }}
                    <button>Submit</button>
                </form>
                {% else %}
                <h2 class="subtitle">No Services</h3>
                {% endif %}
                <hr>
            </div>

            <div class="content-block">
                <h1 class="title">[ SYSTEM MONITOR ]</h1>
                {% if systems_info_list %}
                <b>Displayed data from</b> <span style="color:rgb(17, 17, 204)">{{ sys_start_datetime_object }}</span> <b>to</b>  <span style="color:rgb(17, 17, 204)">{{ sys_end_datetime_object }}</span>
                <div>
                    <h3 class="subtitle">CPU load</h3>
                    <div class="content-subblock">
                        {% for i in datapoints_metrics %}
                        <div>
                        <canvas id="Chart_CPU_load_{{ forloop.counter0 }}" style="max-width:600px;min-width: 450px;"></canvas>
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                    <h3 class="subtitle">Memory usage:</h3>
                    <div class="content-subblock">
                        {% for i in datapoints_metrics %}
                        <div>
                        <canvas id="Chart_Mem_usage_{{ forloop.counter0 }}" style="max-width:600px;min-width: 450px;"></canvas>
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                    <h3 class="subtitle">Disk usage:</h3>
                        <div class="content-subblock">
                            {% for i in datapoints_metrics %}
                            <div>
                            <canvas id="Chart_disk_usage_{{ forloop.counter0 }}" style="max-width:600px;min-width: 450px;"></canvas>
                            </div>
                            {% endfor %}
                        </div>
                </div>                
                <form action="charts" method="GET">
                    <!-- {% csrf_token %}  -->
                    start date: {{ form.sys_start_date }}
                    {{ form.sys_start_time }}
                    end date: {{ form.sys_end_date }}
                    {{ form.sys_end_time }}
                    <button>Submit</button>
                </form>
                {% else %}
                <h2 class="subtitle">No Systems</h2>
                {% endif %}
                <hr>
            </div>

</div>

<script>
    Chart.defaults.global.legend.labels.usePointStyle = true;
    var data = {{ datapoints_internet_check|safe }};
    var datax = [];
    var datay = [];
    var src_name = '';
    var yAxes_max = 1;
    var color_list = ['#0519f3', '#008FFD', '#0645ef', '#0090d0', '#2e7fa3', '#535edd', '#8e78da'];
//    <!--var borderColor = ['#008FFD21', '#0519f321', '#0645ef21', '#0090d021', '#2e7fa321', '#535edd21', '#8e78da21'];-->
    

//    console.log(data);

    for(var i=0; i<data.length; i++) {
        datax = [];
        datay = [];
        src_name = data[i][0]['fields']['service_name'];

        if (i<=color_list.length){
            backgroundColor_value = color_list[i] + '21';
            borderColor_value = color_list[i];
        } else {
            backgroundColor_value = '#0519f321';
            borderColor_value = '#0519f3';
        }
        
//        console.log(sys_name);
//        console.log(yAxes_max);
        
        for(var j=0; j<data[i].length; j++) {
        //    console.log(Object.keys(dataPoints[i][j]));
            datax.push(data[i][j]['fields']['check_time']);
            datay.push(parseInt(data[i][j]['fields']['availability']));
        }

//        console.log(datax, datay);
        new Chart("Chart_internet_check_" + i, {
                type: "line",
                data: {
                    labels: datax,
                    datasets: [{
                        label: src_name,
                        fill: true,
                        //lineTension: 0,
                        backgroundColor: backgroundColor_value,
                        borderColor: borderColor_value,
                        data: datay
                    },                 
                    ]
                },
                options: {
                    legend: {
                        position: 'top',
                        labels: {
                            fontColor: 'black',
                            fontFamily: 'Calibri Light',
                            fontStyle: 'italic',
                        },
                    },                
                    hover: {
                        mode: 'label',
                        intersect: true
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    responsive: false,
                    maintainAspectRatio: true,

                    title: {
                        display: true,
                        text: 'Check availability to ' + src_name + ' (IP: ' + data[i][0]['fields']['destination'] + ')',
                        position: 'top',
                        fontSize: 11
                        },
                    elements: {
                        point: {
                            pointStyle: 'line'
                            }
                        },
                    scales: {
                        yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Availability'
                        },
                        ticks: {
                                //stepSize: Math.round(yAxes_max / 1000) * 100 * 2,
                                min: 0,
                                //max: Math.round(yAxes_max / 1000) * 1000,
                                max: 1,
                                autoSkip: true,
                                maxTicksLimit: 1,
                                beginAtZero:true,
                                fontSize: 9
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Check time',
                                //type: 'time',
                            },
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 6,
                                fontSize: 9
                            }
                        }],
                    },
                }     
                });
}
</script>

<script>
    Chart.defaults.global.legend.labels.usePointStyle = true;
    var data = {{ datapoints_service_check|safe }};
    var datax = [];
    var datay = [];
    var src_name = '';
    var yAxes_max = 1;
    var color_list = ['#0519f3', '#008FFD', '#0645ef', '#0090d0', '#2e7fa3', '#535edd', '#8e78da'];
//    <!--var borderColor = ['#008FFD21', '#0519f321', '#0645ef21', '#0090d021', '#2e7fa321', '#535edd21', '#8e78da21'];-->
    

//    console.log(data);

    for(var i=0; i<data.length; i++) {
        datax = [];
        datay = [];
        src_name = data[i][0]['fields']['service_name'];

        if (i<=color_list.length){
            backgroundColor_value = color_list[i] + '21';
            borderColor_value = color_list[i];
        } else {
            backgroundColor_value = '#0519f321';
            borderColor_value = '#0519f3';
        }
        
//        console.log(sys_name);
//        console.log(yAxes_max);
        
        for(var j=0; j<data[i].length; j++) {
        //    console.log(Object.keys(dataPoints[i][j]));
            datax.push(data[i][j]['fields']['check_time']);
            datay.push(parseInt(data[i][j]['fields']['availability']));
        }

//        console.log(datax, datay);
        new Chart("Chart_service_check_" + i, {
                type: "line",
                data: {
                    labels: datax,
                    datasets: [{
                        label: src_name,
                        fill: true,
                        //lineTension: 0,
                        backgroundColor: backgroundColor_value,
                        borderColor: borderColor_value,
                        data: datay
                    },                 
                    ]
                },
                options: {
                    legend: {
                        position: 'top',
                        labels: {
                            fontColor: 'black',
                            fontFamily: 'Calibri Light',
                            fontStyle: 'italic'
                        },
                    },                
                    hover: {
                        mode: 'label',
                        intersect: true
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    responsive: false,
                    maintainAspectRatio: true,

                    title: {
                        display: true,
                        text: 'Check availability to ' + src_name,
                        position: 'top',
                        fontSize: 11
                        },
                    elements: {
                        point: {
                            pointStyle: 'line'
                            }
                        },
                    scales: {
                        yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Availability'
                        },
                        ticks: {
                                //stepSize: Math.round(yAxes_max / 1000) * 100 * 2,
                                min: 0,
                                //max: Math.round(yAxes_max / 1000) * 1000,
                                max: 1,
                                autoSkip: true,
                                maxTicksLimit: 1,
                                beginAtZero:true,
                                fontSize: 9
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Check time',
                                //type: 'time',
                            },
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 6,
                                fontSize: 9
                            }
                        }],
                    },
                }     
                });
}
</script>

<script>
    Chart.defaults.global.legend.labels.usePointStyle = true;
    var data = {{ datapoints_metrics|safe }};
    var dataPoints = [];
    var datax = [];
    var datay = [];
    var sys_name = '';
    var yAxes_max = '';
    var color_list = ['#0519f3', '#008FFD', '#0645ef', '#0090d0', '#2e7fa3', '#535edd', '#8e78da'];
//    <!--var borderColor = ['#008FFD21', '#0519f321', '#0645ef21', '#0090d021', '#2e7fa321', '#535edd21', '#8e78da21'];-->
//    console.log(color_list[0].slice(0,5) + 'b1')

//    console.log(data);

    for(var i=0; i<data.length; i++) {
        datax = [];
        datay_ram = [];
        datay_cpu_1 = [];
        datay_cpu_5 = [];
        datay_cpu_15 = [];
        datay_hdd = [];
        sys_name = data[i][0]['fields']['system_name'];
        yAxes_cpu_max = data[i][0]['fields']['CPU_cores'];
        yAxes_ram_max = parseInt(data[i][0]['fields']['RAM']);
        yAxes_hdd_max_procent = 100;
        yAxes_hdd_size = data[i][0]['fields']['HDD'];


        if (i<=color_list.length){
            backgroundColor_value = color_list[i] + '21';
            borderColor_value = color_list[i];
        } else {
            backgroundColor_value = '#0519f321';
            borderColor_value = '#0519f3';
        }
        
//        console.log(sys_name);
//        console.log(yAxes_max);
        
        for(var j=0; j<data[i].length; j++) {
        //    console.log(Object.keys(dataPoints[i][j]));
            datax.push(data[i][j]['fields']['check_time']);
            datay_cpu_1.push(parseFloat(data[i][j]['fields']['cpu_load_1']));
            datay_cpu_5.push(parseFloat(data[i][j]['fields']['cpu_load_5']));
            datay_cpu_15.push(parseFloat(data[i][j]['fields']['cpu_load_15']));
            datay_ram.push(parseInt(data[i][j]['fields']['mem_used']));
            datay_hdd.push(parseInt(data[i][j]['fields']['disk_usage']));
        }

//        console.log(datax, datay);
        new Chart("Chart_CPU_load_" + i, {
                type: "line",
                data: {
                    labels: datax,
                    datasets: [{
                        label: 'Load average 1 min',
                        fill: true,
                        //lineTension: 0,
                        backgroundColor: backgroundColor_value,
                        borderColor: borderColor_value,
                        data: datay_cpu_1
                    }, {
                        label: 'Load average 5 min',
                            fill: true,
                            //lineTension: 0,
                            backgroundColor: backgroundColor_value.slice(0,5) + 'a121',
                            borderColor: borderColor_value.slice(0,5) + 'a1',
                            data: datay_cpu_5
                    }, {
                        label: 'Load average 15 min',
                            fill: true,
                            //lineTension: 0,
                            backgroundColor: backgroundColor_value.slice(0,5) + '6121',
                            borderColor: borderColor_value.slice(0,5) + '61',
                            data: datay_cpu_15
                        },
                
                    ]
                },
                options: {
                    legend: {
                        position: 'top',
                        labels: {
                            fontColor: 'black',
                            fontFamily: 'Calibri Light',
                            fontStyle: 'italic'
                        },
                    },                
                    hover: {
                        mode: 'label',
                        intersect: true
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    responsive: false,
                    maintainAspectRatio: true,

                    title: {
                        display: true,
                        text: 'CPU load for ' + sys_name + ' (CPU core: ' + yAxes_cpu_max + ')',
                        position: 'top',
                        fontSize: 11
                        },
                    elements: {
                        point: {
                            pointStyle: 'line'
                            }
                        },
                    scales: {
                        yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'CPU load'
                        },
                        ticks: {
                                //stepSize: Math.round(yAxes_max / 1000) * 100 * 2,
                                min: 0,
                                //max: Math.round(yAxes_max / 1000) * 1000,
                                max: 2*yAxes_cpu_max,
                                autoSkip: true,
                                maxTicksLimit: 6,
                                beginAtZero:true,
                                fontSize: 9
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Check time',
                                //type: 'time',
                            },
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 6,
                                fontSize: 9
                            }
                        }],
                    },
                }     
                });

    new Chart("Chart_Mem_usage_" + i, {
                type: "line",
                data: {
                    labels: datax,
                    datasets: [{
                        label: sys_name,
                        fill: true,
                        //lineTension: 0,
                        backgroundColor: backgroundColor_value,
                        borderColor: borderColor_value,
                        data: datay_ram
                    }]
                },
                options: {
                    legend: {
                        position: 'top',
                        labels: {
                            fontColor: 'black',
                            fontFamily: 'Calibri Light',
                            fontStyle: 'italic'
                        },
                    },                
                    hover: {
                        mode: 'label',
                        intersect: true
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    responsive: false,
                    maintainAspectRatio: true,

                    title: {
                        display: true,
                        text: 'Memory usage for ' + sys_name + ' (RAM: ' + yAxes_ram_max + 'Mb)',
                        position: 'top',
                        fontSize: 11
                        },
                    elements: {
                        point: {
                            pointStyle: 'line'
                            }
                        },
                    scales: {
                        yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Used, Mb'
                        },
                        ticks: {
                                //stepSize: Math.round(yAxes_max / 1000) * 100 * 2,
                                min: 0,
                                max: (Math.round(yAxes_ram_max / 1000) * 1000) + (Math.round(yAxes_ram_max / 1000)) * 100,
                                autoSkip: true,
                                maxTicksLimit: 6,
                                beginAtZero:true,
                                fontSize: 9
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Check time',
                                //type: 'time',
                            },
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 6,
                                fontSize: 9
                            }
                        }],
                    },
                }     
                });

    new Chart("Chart_disk_usage_" + i, {
        type: "line",
        data: {
            labels: datax,
            datasets: [{
                label: sys_name,
                fill: true,
                //lineTension: 0,
                backgroundColor: backgroundColor_value,
                borderColor: borderColor_value,
                data: datay_hdd
            }]
        },
        options: {
            legend: {
                position: 'top',
                labels: {
                    fontColor: 'black',
                    fontFamily: 'Calibri Light',
                    fontStyle: 'italic'
                },
            },                
            hover: {
                mode: 'label',
                intersect: true
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            responsive: false,
            maintainAspectRatio: true,

            title: {
                display: true,
                text: 'Disk usage for ' + sys_name + ', %' + ' (HDD: ' + yAxes_hdd_size + ')',
                position: 'top',
                fontSize: 11
                },
            elements: {
                    point: {
                        pointStyle: 'line'
                        }
                    },
            scales: {
                yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Used, %'
                },
                ticks: {
                        //stepSize: Math.round(yAxes_max / 1000) * 100 * 2,
                        min: 0,
                        max: yAxes_hdd_max_procent,
                        autoSkip: true,
                        maxTicksLimit: 6,
                        beginAtZero:true,
                        fontSize: 9
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Check time',
                        //type: 'time',
                    },
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 6,
                        fontSize: 9
                    }
                }],
            },
        }     
        });
}
</script>

{% endblock %}
